SERVER_PORT=8080
SERVER_HOST=0.0.0.0

DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=postgres
DB_PORT=5556
DB_SSLMODE=disable

API_BASE_PATH=/api/v1

JWT_TOKEN_SECRET=your-secret-token-key  # generate with `make generate_secret_key`
JWT_REFRESH_SECRET=your-secret-refresh-key # generate with `make generate_secret_key`
JWT_BACKEND_REFRESH=false # force backend to handle reauthorization and token refresh
JWT_TOKEN_EXPIRY_MINUTES=5
JWT_REFRESH_EXPIRY_DAYS=30
JWT_COOKIE_DOMAIN=localhost

ENV=local
